^{:watch-dirs ["dev" "src"]
  :open-url false
  :css-dirs ["resources/public/css"]}
{:main       tailwind.examples
 :output-to  "resources/public/js/examples.js"
 :output-dir "resources/public/js/build"
 :asset-path "/js/build"}